<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="css/estilo-contrasenaOlvidada.css">
</head>
<body>
<div class="img-container">
    <img src="img/quimica.png" alt="img">
</div>
<main class="container-forget">
    <div class="form-container">
        <header class="title">
            <h2 class="h2-text">Recupere su cuenta</h2>
        </header>
        <hr>
        <main>
            <p>Ingrese el usuario de su cuenta para poder recuperar su cuenta, recuerde contacte con el administrador si tiene problemas.</p>
            <form th:action="@{/forgetPassword}" method="post">
            <input type="text" placeholder="Usuario" name="forgetPassword">
            </form>
        </main>
        <hr>
        <footer>
            <a href="inicio"><button style="background-color:#908deb;">Cancelar</button></a>
            <form th:action="@{/restorePassword}" method="post">
                <button type="submit">Recuperar</button>
            </form>
        </footer>
    </div>
</main>
</body>
</html>