<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="css/estilo-contrasenaOlvidada.css">
</head>
<body>
<div class="img-container">
    <img src="img/quimica.png" alt="img">
</div>
<main class="container-forget">
    <div class="form-container">
        <header class="title">
            <h2 class="h2-text">Recupere su cuenta</h2>
        </header>
        <hr>
        <main>
            <p>Ingrese el usuario de su cuenta para poder recuperar su cuenta, recuerde contacte con el administrador si
                tiene problemas.</p>
            <div>
                <form th:action="@{/restorePassword}" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <button type="submit">Recuperar</button>
                </form><a href="inicio">
                <button style="background-color:#908deb;">Cancelar</button>
            </div>

        </a>

        </main>
        <hr>

    </div>
</main>
</body>
</html>