<div th:fragment="quimicoTable(quimicos= ${productos})">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Almacen</th>
            <th>Stock Minimo</th>
            <th>Pureza</th>
            <th>Fecha de caducidad</th>
            <th>Formato</th>
            <th>Riesgos</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="producto ,stat :${productos}">
            <td th:text="${producto.getNombre()}"></td>
            <td th:text="${producto.getCantidad()}"></td>
            <td th:text="${producto.getAlmacen()}"></td>
            <td th:text="${producto.getStock_minimo()}"></td>
            <td th:text="${producto.getPureza()}"></td>
            <td th:text="${producto.getFecha_caducidad()}"></td>
            <td th:text="${producto.getFormato()}"></td>
            <td>
                <div th:id="'carouselExampleIndicators' + ${stat.index}" class="carousel slide" data-interval="false"
                     data-ride="carousel" style="width:80px; height:80px; overflow:hidden;">
                    <div class="carousel-inner">
                        <div th:each="pictograma, stat : ${producto.getPictogramas()}" class="carousel-item"
                             th:classappend="${stat.first} ? 'active' : ''" style="width:80px; height:80px;">
                            <img th:src="${pictograma.getRuta()}" class="d-block w-100" alt="..."
                                 style="width:70px; height:70px;">
                        </div>
                    </div>
                    <a class="carousel-control-prev" th:href="'#carouselExampleIndicators' + ${stat.index}"
                       role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"
                              style="background-color: grey;"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" th:href="'#carouselExampleIndicators' + ${stat.index}"
                       role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"
                              style="background-color: grey;"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </td>
            <td>
                <a th:href="@{/actualizarQuimico/{id}(id=${producto.getId_producto()})}"
                   class="btn btn-primary">Actualizar</a>
                <a th:href="@{/eliminarProducto/{id}(id=${producto.getId_producto()})}"
                   onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');"
                   class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
    </table>
</div>
<div th:fragment="materialesTable(materiales=${productos})">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Stock Minimo</th>
            <th>Almacen</th>
            <th>Ubicacion</th>
            <th>Subtipo</th>
            <th>Descripcion</th>
            <th>Fecha De Compra</th>
            <th>Número De Serie</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.getNombre()}"></td>
            <td th:text="${producto.getCantidad()}"></td>
            <td th:text="${producto.getStock_minimo()}"></td>
            <td th:text="${producto.getAlmacen()}"></td>
            <td th:text="${producto.getUbicacion()}"></td>
            <td th:text="${producto.getSubtipo()}"></td>
            <td th:text="${producto.getDescripcion()}"></td>
            <td th:text="${producto.getFecha_compra()}"></td>
            <td th:text="${producto.getNumero_serie()}"></td>
            <td>
                <a th:href="@{/actualizarMaterial/{id}(id=${producto.getId_producto()})}"
                   class="btn btn-primary">Actualizar</a>
                <a th:href="@{/eliminarProducto/{id}(id=${producto.getId_producto()})}"
                   onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');"
                   class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:fragment="productoAuxiliar(productoAuxiliar=${productos})">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Stock Minimo</th>
            <th>Almacen</th>
            <th>Ubicacion</th>
            <th>Formato</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.getNombre()}"></td>
            <td th:text="${producto.getCantidad()}"></td>
            <td th:text="${producto.getStock_minimo()}"></td>
            <td th:text="${producto.getAlmacen()}"></td>
            <td th:text="${producto.getUbicacion()}"></td>
            <td th:text="${producto.getFormato()}"></td>
            <td>
                <a th:href="@{/actualizarPa/{id}(id=${producto.getId_producto()})}"
                   class="btn btn-primary">Actualizar</a>

                <a th:href="@{/eliminarProducto/{id}(id=${producto.getId_producto()})}"
                   onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');"
                   class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>