<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/estilo-inicioTest.css">
    <title>Login</title>
</head>

<body>
<div class="img-container">
    <img src="img/quimica.png" alt="img">
</div>
<div class="container" id="container">

    <div class="form-container sign-up">
        <form th:action="@{/register}" method="post">
            <h1>Crear cuenta</h1>
            <input type="text" placeholder="Usuario" name="username">
            <input type="password" placeholder="Contraseña" name="password">
            <input type="email" placeholder="Email" name="email">
            <button type="submit">Resgistrarse</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form th:action="@{/login}" method="post">
            <h1>Iniciar Sesión</h1>
            <span>Introduzca su usuario y contraseña</span>
            <div th:if="${loginError}" class="login-error">
                <p th:text="${error}"></p>
            </div>
            <input type="text" placeholder="usuario"name="username"/>
            <input type="password" placeholder="contraseña" name="password"/>

            <a href="/recuperarContraseña">¿Olvidaste tu contraseña?</a>
            <button type="submit">Acceder</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Bienvenido!</h1>
                <p>Ingrese sus datos personales para utilizar todas las funciones del sitio</p>
                <button class="hidden" id="login">Iniciar Sesión</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>¡Hola usuario!</h1>
                <p>Regístrese con sus datos personales para poder acceder a la aplicación </p>
                <button class="hidden" id="register">Resgistrarse</button>
            </div>
        </div>
    </div>
</div>
<script src="js/inicio.js"></script>
</body>
</html>