<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insertar Producto</title>
    <link rel="stylesheet" href="css/estilo-insertar.css">

</head>
<body>
<div class="logout-container">
    <form action="/logout" method="post">
        <input type="submit" value="Cerrar Sesión"/>
    </form>
</div>
<div class="home-button-container" style="position: absolute; top: 10px; left: 10px;">
    <form action="/busqueda" method="get">
        <input type="submit" value="Página Principal"/>
    </form>
</div>

<div class="contenedor">
    <h1>Insertar Producto</h1>
    <select id="tipoProducto" name="tipoProducto">
        <option value="quimico">Químico</option>
        <option value="material">Material</option>
        <option value="productoAuxiliar">Producto Auxiliar</option>
    </select>
</div>
<div class="form-container">

    <form id="formularioQuimico" style="display: none;">
        <!-- Campos del formulario para químicos -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad">
        <label for="stock_minimo">Stock mínimo:</label>
        <input type="number" id="stock_minimo" name="stock_minimo">
        <label>Almacén:</label>
        <select id="almacen" name="almacen" required>
            <option th:each="almacen : ${almacenes}" th:value="${almacen}" th:text="${almacen}"></option>
        </select>
        <label>Ubicación:</label>
        <select name="ubicacion" id="ubicacion" required>
            <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion}" th:text="${ubicacion}"></option>
        </select>

        <label for="pureza">Pureza:</label>
        <input type="text" id="pureza" name="pureza">
        <label for="formato">Formato:</label>
        <select name="formato" id="formato" required>
            <option th:each="formato : ${formato}" th:value="${formato}" th:text="${formato}"></option>
        </select>

        <input type="submit" value="Insertar">
    </form>

    <form id="formularioMaterial" style="display: none;">
        <!-- Campos del formulario para materiales -->
        <label for="nombreMat">Nombre:</label>
        <input type="text" id="nombreMat" name="nombre">
        <label for="cantidadMat">Cantidad:</label>
        <input type="number" id="cantidadMat" name="cantidad">
        <label for="stock_minimoMat">Stock mínimo:</label>
        <input type="number" id="stock_minimoMat" name="stock_minimo">
        <label>Almacén:</label>
        <select id="almacenMat" name="almacen" required>
            <option th:each="almacen : ${
        almacenes
    }" th:value="${almacen}" th:text="${almacen}"></option>
        </select>
        <label>Ubicación:</label>
        <select name="ubicacion" id="ubicacionMat" required>
            <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion}" th:text="${ubicacion}"></option>
        </select>
        <label for="subtipo">Subtipo:</label>
        <input type="text" id="subtipo" name="subtipo">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion">
        <label for="fecha_compra">Fecha de compra:</label>
        <input type="date" id="fecha_compra" name="fecha_compra">
        <label for="numero_serie">Número de serie:</label>
        <input type="text" id="numero_serie" name="numero_serie">
        <input type="submit" value="Insertar">

    </form>

    <form id="formularioProductoAuxiliar" style="display: none;">
        <!-- Campos del formulario para productos auxiliares -->
        <label for="nombreProdAux">Nombre:</label>
        <input type="text" id="nombreProdAux" name="nombre">
        <label for="cantidadProdAux">Cantidad:</label>
        <input type="number" id="cantidadProdAux" name="cantidad">
        <label for="stock_minimoProdAux">Stock mínimo:</label>
        <input type="number" id="stock_minimoProdAux" name="stock_minimo">
        <label>Almacén:</label>
        <select id="almacenProdAux" name="almacen" required>
            <option th:each="almacen : ${almacenes}" th:value="${almacen}" th:text="${almacen}"></option>
        </select>
        <label>Ubicación:</label>
        <select name="ubicacion" id="ubicacionProdAux" required>
            <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion}" th:text="${ubicacion}"></option>
        </select>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcionPa" name="descripcion">
        <label for="fecha_compra">Fecha de compra:</label>
        <input type="date" id="fecha_compraPa" name="fecha_compra">
        <label for="numero_serie">Número de serie:</label>
        <input type="text" id="numero_seriePa" name="numero_serie">
        <input type="submit" value="Insertar">

    </form>
</div>
<script>
    document.getElementById('almacen').addEventListener('change', function () {
        var almacenSeleccionado = this.value;
        var selectUbicacion = document.getElementById('ubicacion');

        // Limpia las opciones existentes
        selectUbicacion.innerHTML = '';

        // Realiza una solicitud AJAX al servidor para obtener las ubicaciones del almacén seleccionado
        fetch('/obtenerUbicaciones?almacen=' + almacenSeleccionado)
            .then(response => response.json())
            .then(ubicaciones => {
                // Añade una opción por cada ubicación
                ubicaciones.forEach(ubicacion => {
                    var option = document.createElement('option');
                    option.value = ubicacion;
                    option.text = ubicacion;
                    selectUbicacion.add(option);
                });
            });
    });


    document.getElementById('tipoProducto').addEventListener('change', function () {
        // Ocultar todos los formularios
        document.getElementById('formularioQuimico').style.display = 'none';
        document.getElementById('formularioMaterial').style.display = 'none';
        document.getElementById('formularioProductoAuxiliar').style.display = 'none';

        // Mostrar el formulario correspondiente
        if (this.value === 'quimico') {
            document.getElementById('formularioQuimico').style.display = 'block';
        } else if (this.value === 'material') {
            document.getElementById('formularioMaterial').style.display = 'block';
        } else if (this.value === 'productoAuxiliar') {
            document.getElementById('formularioProductoAuxiliar').style.display = 'block';
        }
    });
</script>
</body>
</html>